<div class="footer">
    <div class="footer-top">
        <div class="footer-org--logo">
            <img src="assets/images/audit_logo.jpg" alt="pak_railway_logo" class="f-logo" routerLink="/home">
            <button class="button" data-text="Awesome">
                <span class="actual-text">&nbsp;Auditor's&nbsp;General&nbsp;</span>
                <span aria-hidden="true" class="hover-text">&nbsp;Auditor's&nbsp;General&nbsp;</span>
            </button>
        </div>
        <div class="footer-org--links">
            <ul class="f-links">
                <li class="f-link">
                    <lucide-icon name="facebook" [size]="30" color="white"></lucide-icon>
                </li>
                <li class="f-link">
                    <lucide-icon name="twitter" [size]="30" color="white"></lucide-icon>
                </li>
                <li class="f-link" title="117">
                    <lucide-icon title="117" name="phone" [size]="30" color="white"></lucide-icon>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copright">&copy; Copyright 2022-23 Muhammad Aurangzeb khan (+92 301 4166808). All Rights Reserved.
        </p>
    </div>
</div>