<div class="header">
    <div class="header-logo">
        <img src="assets/images/audit_logo.jpg" alt="" class="h-logo" (click)="navigateToHome()">
        <!-- <img routerLink="/home" src="assets/images/pak_railway_logo.png" alt="" class="h-logo"> -->
    </div>
    <div class="header-user" *ngIf="(service.currentUser$ | async) as user">
        <div class="user-img--container">
            <img src="assets/images/default_profile.png" alt="default_profile" class="user-img">
        </div>
        <span class="active-user">{{user.name}}</span>
    </div>
    <div class="header-opts">
        <ul class="h-links">
            <!-- <li class="h-link" (click)="displayProfile()"> -->
            <li class="h-link" routerLink="/admin">
                <lucide-icon name="shield-check" color="white"></lucide-icon>
            </li>
            <li class="h-link" routerLink="/profile" *ngIf="(service.currentUser$ | async)">
                <lucide-icon name="user-round" color="white"></lucide-icon>
            </li>
            <li class="h-link">
                <button class="Btn" (click)="getUserLogout()">
                    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                    <div class="text">Logout</div>
                  </button>                  
            </li>
        </ul>
    </div>
</div>